name: "pv-addon-voice-messages"

volumes:
  velocity: {}
  server_1: {}
  server_2: {}

x-shared-environment: &shared-environment
  EULA: "TRUE"
  VERSION: "1.21.10"
  MINECRAFT_VERSION: "1.21.10"
  PAPER_CHANNEL: "experimental"

  REPLACE_ENV_VARIABLES: "true"
  COPY_CONFIG_DEST: "/data"
  SYNC_SKIP_NEWER_IN_DESTINATION: "false"
  REMOVE_OLD_MODS: "TRUE"
  REMOVE_OLD_MODS_INCLUDE: "*.jar"
  REMOVE_OLD_MODS_DEPTH: "1"

  CFG_FORWARDING_SECRET: "uwu-secret"
  PLASMO_VOICE_FORWARDING_SECRET: "966274f2-b07f-4dd7-b5a2-18ea3f7f9629"

  CREATE_CONSOLE_IN_PIPE: true

services:
  redis:
    image: redis
    restart: unless-stopped

  server-1:
    image: itzg/minecraft-server:java21
    depends_on:
      - redis
    restart: unless-stopped
    stdin_open: true
    tty: true
    volumes:
      - "server_1:/data"
      - "./server/config:/config"
      - "./server/plugins:/plugins"
      - "../build/libs:/build-plugins"
    environment:
      <<: *shared-environment

      TYPE: "PAPER"
      ONLINE_MODE: "false"
      MEMORY: "1G"
      MODRINTH_PROJECTS: |
        plasmo-voice:spigot-2.1.6
      PLUGINS: |
        /build-plugins

  server-2:
    image: itzg/minecraft-server:java21
    depends_on:
      - redis
    restart: unless-stopped
    stdin_open: true
    tty: true
    volumes:
      - "server_2:/data"
      - "./server/config:/config"
      - "./server/plugins:/plugins"
      - "../build/libs:/build-plugins"
    environment:
      <<: *shared-environment

      TYPE: "PAPER"
      ONLINE_MODE: "false"
      MEMORY: "1G"
      MODRINTH_PROJECTS: |
        plasmo-voice:spigot-2.1.6
      PLUGINS: |
        /build-plugins

  velocity:
    image: itzg/mc-proxy:java21
    depends_on:
      - server-1
      - server-2
    restart: unless-stopped
    ports:
      - "25577:25577/tcp"
      - "25577:25577/udp"
    volumes:
      - "velocity:/server"
      - "./velocity/config:/config"
      - "./velocity/plugins:/plugins"
    environment:
      <<: *shared-environment
      MODRINTH_PROJECTS: |
        plasmo-voice:velocity-2.1.6
      TYPE: "VELOCITY"
